In [11]:
import pandas as pd

ecommerce_data = r'C:\Users\moksh\Desktop\LiveKit-Ecommerce\MockData\Kaggle_Ecommerce Data.csv'

In [15]:
customers_dataset = pd.read_csv(encoding='utf-8',filepath_or_buffer=r'C:\Users\moksh\Desktop\LiveKit-Ecommerce\MockData\customers.csv')
delivery_dataset = pd.read_csv(encoding='utf-8',filepath_or_buffer=r'C:\Users\moksh\Desktop\LiveKit-Ecommerce\MockData\delivery.csv')
orders_dataset = pd.read_csv(encoding='utf-8',filepath_or_buffer=r'C:\Users\moksh\Desktop\LiveKit-Ecommerce\MockData\orders.csv')
products_dataset = pd.read_csv(encoding='utf-8',filepath_or_buffer=r'C:\Users\moksh\Desktop\LiveKit-Ecommerce\MockData\products.csv')
returns_dataset = pd.read_csv(encoding='utf-8',filepath_or_buffer=r'C:\Users\moksh\Desktop\LiveKit-Ecommerce\MockData\returns.csv')

In [18]:
customers_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    150 non-null    object
 1   name           150 non-null    object
 2   email          150 non-null    object
 3   phone          150 non-null    object
 4   city           150 non-null    object
 5   country        150 non-null    object
 6   member_since   150 non-null    object
 7   loyalty_level  150 non-null    object
dtypes: object(8)
memory usage: 9.5+ KB

In [19]:
delivery_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tracking_number   150 non-null    object
 1   current_location  150 non-null    object
 2   delivery_stage    150 non-null    object
 3   last_updated      150 non-null    object
 4   delivery_agent    150 non-null    object
dtypes: object(5)
memory usage: 6.0+ KB

In [20]:
orders_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           150 non-null    object
 1   customer_id        150 non-null    object
 2   product_id         150 non-null    object
 3   quantity           150 non-null    int64
 4   order_date         150 non-null    object
 5   order_status       150 non-null    object
 6   payment_status     150 non-null    object
 7   delivery_status    150 non-null    object
 8   delivery_eta       150 non-null    object
 9   shipping_provider  150 non-null    object
 10  tracking_number    150 non-null    object
dtypes: int64(1), object(10)
memory usage: 13.0+ KB

In [21]:
products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       150 non-null    object
 1   name             150 non-null    object
 2   category         150 non-null    object
 3   brand            150 non-null    object
 4   price            150 non-null    int64
 5   currency         150 non-null    object
 6   rating           150 non-null    float64
 7   stock_status     150 non-null    object
 8   description      150 non-null    object
 9   warranty_months  150 non-null    int64
 10  returnable       150 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 13.0+ KB

In [22]:
products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       150 non-null    object
 1   name             150 non-null    object
 2   category         150 non-null    object
 3   brand            150 non-null    object
 4   price            150 non-null    int64
 5   currency         150 non-null    object
 6   rating           150 non-null    float64
 7   stock_status     150 non-null    object
 8   description      150 non-null    object
 9   warranty_months  150 non-null    int64
 10  returnable       150 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 13.0+ KB

In [23]:
returns_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   return_id      41 non-null     object
 1   order_id       41 non-null     object
 2   product_id     41 non-null     object
 3   return_reason  41 non-null     object
 4   return_status  41 non-null     object
 5   refund_amount  41 non-null     int64
 6   refund_status  41 non-null     object
 7   return_date    41 non-null     object
dtypes: int64(1), object(7)
memory usage: 2.7+ KB

In [24]:
customers_dataset.head(5)

,customer_id,name,email,phone,city,country,member_since,loyalty_level
0,C5000,Justin Palmer,potterautumn@hotmail.com,(385)081-3786,Michaelburgh,China,2025-01-27,Silver
1,C5001,Chad Gray,sylvia22@yahoo.com,(713)278-4557x3933,New Micheleland,Bermuda,2022-11-25,Platinum
2,C5002,Jason Allen Jr.,madisonsawyer@smith.net,0918551916,Port Wendy,Cuba,2023-11-09,Platinum
3,C5003,Jacqueline Daniels,john55@hotmail.com,(210)934-9045x4579,Annmouth,Tanzania,2022-06-14,Silver
4,C5004,Ryan Brennan,woodardryan@medina-martin.com,621-981-2736x1606,Port Marc,Romania,2022-11-23,Gold

In [25]:
delivery_dataset.head()

,tracking_number,current_location,delivery_stage,last_updated,delivery_agent
0,TRK10000,South Jennifer,Delivered,2026-01-01 19:29:46,Travis
1,TRK10001,North Jim,Processing,2026-01-08 16:51:45,Donna
2,TRK10002,Michaelborough,Shipped,2026-01-06 17:50:31,Donald
3,TRK10003,Jayland,Delivered,2026-01-01 19:10:00,Jacob
4,TRK10004,Millerbury,Processing,2026-01-02 04:46:57,Olivia

In [26]:
orders_dataset.head(5)

,order_id,customer_id,product_id,quantity,order_date,order_status,payment_status,delivery_status,delivery_eta,shipping_provider,tracking_number
0,O9000,C5097,P1048,1,2026-01-04,Delivered,Paid,Delivered,2026-01-02,FedEx,TRK10000
1,O9001,C5116,P1095,5,2026-01-07,Processing,Paid,Processing,2026-01-08,FedEx,TRK10001
2,O9002,C5076,P1010,3,2026-01-04,Shipped,Paid,Shipped,2026-01-06,DHL,TRK10002
3,O9003,C5110,P1117,2,2026-01-07,Delivered,Paid,Delivered,2026-01-07,BlueDart,TRK10003
4,O9004,C5040,P1098,2,2026-01-07,Processing,Paid,Processing,2026-01-01,BlueDart,TRK10004

In [27]:
products_dataset.head(5)

,product_id,name,category,brand,price,currency,rating,stock_status,description,warranty_months,returnable
0,P1000,Home,Clothing,House-Smith,1151,INR,4.2,In Stock,Close alone especially himself large oil.,12,Yes
1,P1001,Any,Clothing,"Taylor, Cabrera and Zimmerman",8453,INR,4.7,Out of Stock,Boy class quite theory ready.,24,No
2,P1002,Water,Clothing,"Williams, Scott and Smith",6145,INR,4.5,In Stock,Police miss data south choose hand.,0,No
3,P1003,Enjoy,Electronics,Taylor PLC,2244,INR,3.7,Out of Stock,Expect not member show.,24,Yes
4,P1004,Join,Clothing,Hernandez PLC,8593,INR,4.9,Out of Stock,Or gas small.,12,Yes

In [28]:
returns_dataset.head(5)

,return_id,order_id,product_id,return_reason,return_status,refund_amount,refund_status,return_date
0,R7003,O9003,P1117,Defective,Approved,2163,Pending,2026-01-02
1,R7006,O9006,P1004,Wrong Item,Approved,1188,Completed,2026-01-06
2,R7010,O9010,P1052,Wrong Item,Refunded,351,Pending,2026-01-01
3,R7012,O9012,P1072,Not Needed,Refunded,3432,Pending,2026-01-02
4,R7016,O9016,P1027,Not Needed,Requested,6782,Pending,2026-01-06

In [30]:
products_dataset.head(2)

,product_id,name,category,brand,price,currency,rating,stock_status,description,warranty_months,returnable
0,P1000,Home,Clothing,House-Smith,1151,INR,4.2,In Stock,Close alone especially himself large oil.,12,Yes
1,P1001,Any,Clothing,"Taylor, Cabrera and Zimmerman",8453,INR,4.7,Out of Stock,Boy class quite theory ready.,24,No

In [29]:
def get_product(product_id: str):
    p = products_dataset[products_dataset["product_id"] == product_id]
    if p.empty:
        return {"error": "Product not found"}
    return p.iloc[0].to_dict()

In [31]:
get_product('P1005')

{'product_id': 'P1005',
 'name': 'Already',
 'category': 'Home',
 'brand': 'Wagner-Martin',
 'price': 365,
 'currency': 'INR',
 'rating': 3.9,
 'stock_status': 'In Stock',
 'description': 'The perform edge population.',
 'warranty_months': 24,
 'returnable': 'No'}

In [40]:
p = products_dataset[products_dataset["product_id"]=="P1005"]
p.to_dict()

{'product_id': {5: 'P1005'},
 'name': {5: 'Already'},
 'category': {5: 'Home'},
 'brand': {5: 'Wagner-Martin'},
 'price': {5: 365},
 'currency': {5: 'INR'},
 'rating': {5: 3.9},
 'stock_status': {5: 'In Stock'},
 'description': {5: 'The perform edge population.'},
 'warranty_months': {5: 24},
 'returnable': {5: 'No'}}

product_id                                P1005
name                                    Already
category                                   Home
brand                             Wagner-Martin
price                                       365
currency                                    INR
rating                                      3.9
stock_status                           In Stock
description        The perform edge population.
warranty_months                              24
returnable                                   No
Name: 5, dtype: object